<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>jfcx</string>
		<key>discount</key>
		<string>实付满 20 元，随机立减</string>
		<key>averagePrice</key>
		<integer>35</integer>
		<key>distance</key>
		<integer>731</integer>
		<key>offNum</key>
		<real>9.199999999999999</real>
		<key>level</key>
		<real>4.5</real>
		<key>name</key>
		<string>金凤成祥(回龙观东大街店)</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>kfc</string>
		<key>discount</key>
		<string>实付满 20 元，立减 2 元</string>
		<key>averagePrice</key>
		<integer>21</integer>
		<key>distance</key>
		<integer>555</integer>
		<key>offNum</key>
		<real>9.5</real>
		<key>level</key>
		<integer>4</integer>
		<key>name</key>
		<string>肯德基(三里屯店)</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>lrhs</string>
		<key>discount</key>
		<string>全场免单</string>
		<key>averagePrice</key>
		<integer>13</integer>
		<key>distance</key>
		<integer>1000</integer>
		<key>offNum</key>
		<integer>9</integer>
		<key>level</key>
		<real>1.5</real>
		<key>name</key>
		<string>河间驴肉火烧</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>mdl</string>
		<key>discount</key>
		<string>开心就随便吃</string>
		<key>averagePrice</key>
		<integer>23</integer>
		<key>distance</key>
		<integer>519</integer>
		<key>offNum</key>
		<real>9.6</real>
		<key>level</key>
		<integer>4</integer>
		<key>name</key>
		<string>麦当劳(龙旗广场店)</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ss</string>
		<key>discount</key>
		<string>不要钱了</string>
		<key>averagePrice</key>
		<integer>59</integer>
		<key>distance</key>
		<integer>1356</integer>
		<key>offNum</key>
		<real>9.5</real>
		<key>level</key>
		<integer>4</integer>
		<key>name</key>
		<string>樱花寿司(回龙观店)</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>xfy</string>
		<key>discount</key>
		<string>吃一锅送一锅</string>
		<key>averagePrice</key>
		<integer>83</integer>
		<key>distance</key>
		<integer>719</integer>
		<key>offNum</key>
		<real>8.5</real>
		<key>level</key>
		<integer>4</integer>
		<key>name</key>
		<string>小肥羊(霍营店)</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ybg</string>
		<key>discount</key>
		<string>吃羊骨，送牛汤</string>
		<key>averagePrice</key>
		<integer>25</integer>
		<key>distance</key>
		<integer>863</integer>
		<key>offNum</key>
		<real>9.800000000000001</real>
		<key>level</key>
		<integer>4</integer>
		<key>name</key>
		<string>羊棒骨(东亚上北店)</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>zhy</string>
		<key>discount</key>
		<string>吃一只鸭，送一只鸡</string>
		<key>averagePrice</key>
		<integer>30</integer>
		<key>distance</key>
		<integer>195</integer>
		<key>offNum</key>
		<real>9.5</real>
		<key>level</key>
		<integer>4</integer>
		<key>name</key>
		<string>周黑鸭(龙锦苑店)</string>
	</dict>
</array>
</plist>
